@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f1faee;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.kinetic {
	position: relative;
}

.kinetic::after,
.kinetic::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border: 50px solid transparent;
	border-bottom-color: #e63946;
}

.kinetic::after {
	animation: rotateA 2s linear infinite 0.5s;
	transform: translate(-50%, -50%) rotate(0deg);
}

.kinetic::before {
	animation: rotateB 2s linear infinite;
	transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes rotateA {
	0%,
	25% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	50%,
	75% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes rotateB {
	0%,
	25% {
		transform: translate(-50%, -50%) rotate(90deg);
	}
	50%,
	75% {
		transform: translate(-50%, -50%) rotate(270deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(450deg);
	}
}
