@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #e2bcaf;
}

header {
	margin: 0 auto;
	padding: 2rem 1rem;
}

h1 {
	text-align: center;
	font-family: "Libre Baskerville", serif;
	margin-bottom: 1rem;
}

.shortDesc {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.githubLink {
	cursor: pointer;
	border-bottom: 2px solid black;
}

.githubLink:hover {
	opacity: 0.8;
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.project {
	position: relative;
	background-color: aliceblue;
	width: 300px;
	height: 200px;
	margin: 0rem 1rem 2rem 1rem;
	border-radius: 12px;
	overflow: hidden;
}

.project img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project__title {
	position: absolute;
	top: 2rem;
	left: 50%;
	max-width: 150px;
	height: auto;
	border-radius: 5px;
	padding: 0.5rem 0.75rem;
	text-align: center;
	font-weight: 700;
	font-size: 1.25rem;
	background-color: bisque;
	transform: translate(-50%, -200%);
	transition: transform 0.4s ease;
}

.project:hover .project__title {
	transform: translate(-50%, 0%);
}

.project__day {
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-left-radius: 5px;
	background-color: bisque;
	padding: 0.5rem;
	font-weight: 700;
	font-size: 1.25rem;
}

.project__links {
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	height: auto;
	border-radius: 0px 5px 0px;
	padding: 0.5rem 1rem;
	background-color: bisque;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transform: translate(0, 150%);
	transition: transform 0.4s ease;
}

.project:hover .project__links {
	transform: translate(0, 0%);
}

.project__links a img {
	width: 30px;
	height: auto;
}

a,
a:hover {
	text-decoration: none;
	color: black;
}

img {
	display: block;
	object-fit: cover;
	object-position: center;
}
