@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
	--primary: #3498db;
	--secondary: #e0e0e0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 1.25rem;
}

.progress-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 350px;
	margin-bottom: 1.5rem;
}

/* grey lines */
.progress-container::before {
	content: "";
	position: absolute;
	width: 100%;
	background-color: var(--secondary);
	height: 4px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.progress {
	position: absolute;
	width: 0%;
	background-color: var(--primary);
	height: 4px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #999;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	border: 3px solid var(--secondary);
	transition: 0.4s ease;
}

.circle.active {
	border: 3px solid var(--primary);
}

.buttons {
	display: flex;
}

.btn {
	background-color: var(--primary);
	border: 0;
	color: white;
	padding: 0.5rem 1rem;
	display: block;
	border-radius: 5px;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}

.btn:disabled {
	background-color: var(--secondary);
	cursor: not-allowed;
}

.btn:nth-child(1) {
	margin-right: 0.5rem;
}
