@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.toggleContainer {
	display: flex;
	align-items: center;
	width: 11rem;
	margin: 0.75rem;
}

.toggle {
	visibility: hidden;
}

.toggle:checked + .label {
	background-color: burlywood;
}

.toggle:checked + .label .ball {
	transform: translate(275%, -50%);
}

.label {
	background-color: black;
	width: 100px;
	height: 30px;
	border-radius: 50px;
	margin-right: 0.5em;
	position: relative;
}

.ball {
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 3px;
	transform: translate(0%, -50%);
	background-color: brown;
	transition: 0.5s ease;
}
