@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(252, 208, 208);
}

#buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 100%;
	padding: 2rem 1rem 0 1rem;
}

.btn {
	border: 0;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	font-family: inherit;
	margin: 1rem;
	background-color: hsl(0, 88%, 30%);
	color: rgb(255, 255, 255);
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline-color: violet;
}

h1 {
	text-align: center;
}
