@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: #111; */
	background: rgb(201, 201, 201);
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 400px;
}

.square {
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
	height: 16px;
	width: 16px;
	margin: 2px;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}
